* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(222, 222, 222);
}

header {
  background-color: rgb(2, 14, 56);
  color: rgb(222, 222, 222);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 1rem;
  
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover{
  color:#37C796;
}

#about img {
  border: 5px solid rgb(2, 14, 56);
  border-radius: 50%;
  height: auto;
  width: 250px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  padding: 2rem;
}


h1 {
  margin-top: 0;
  margin-left: -10px;
  text-align: left;
  
  
}

h2 {
  margin-top: 0;
  margin-left: -10px;
  text-align: left;
  color: rgb(2, 14, 56);
}
.aboutme {
  height: 400px;
padding: 1rem;
}

.aboutme p {
  margin-left: 350px;
  margin-top: -150px;
}

.education{
  padding: 1rem;
  align-items: center;
}

.boxi {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  height: 49%;
}

.box {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  padding-left: 2%;
  width: 67%;
  height: 100%;
  
  
  
}



.experience{
  padding: 1rem;
}

.contact{
  padding: 1rem;
}

.contact a:link, a:visited {
  background-color: rgb(2, 14, 56);
  color:  rgb(222, 222, 222);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


.contact a:hover, a:active {
  background-color: #37C796;
  color:  rgb(2, 14, 56);
}



footer {
  background-color: rgb(2, 14, 56);
  text-align: center;
  padding: 1rem;
}
